body {
  font-family: Arial;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

section {
  margin-bottom: 40px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background: #f0f0f0;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}
